root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

[*.{json,jsonc}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[*.{cs,vb}]
dotnet_style_qualification_for_field = true:suggestion
dotnet_style_qualification_for_method = true:suggestion
dotnet_style_qualification_for_property = true:suggestion
dotnet_style_qualification_for_event = true:suggestion
dotnet_style_qualification_for_type = true:suggestion
dotnet_style_qualification_for_parameter = true:suggestion
dotnet_style_qualification_for_method_parameter = true:suggestion
dotnet_diagnostic.IDE0028.severity = none
dotnet_diagnostic.IDE0290.severity = none

[*.{yml,yaml}]
indent_size = 2
